body {
  font-family: 'Arial', sans-serif;
}

header {
  background-position: center;
  background-size: cover;
  height: 60vh;
  color: #fff;
}

.jumbotron {
  margin-bottom: 0;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.card img {
  height: 200px;
  object-fit: cover;
}

@media (max-width: 768px) {
  header {
    height: 40vh;
  }
}
